<section class="hotels container">
    <div class="container hotels__container">
        <div class="recomendation">
            <a href="#" class="recomendation__link">Our Recommendation</a>
        </div>
        
    </div>
    <nav class="hotels__nav nav">
        <h1 class="hotels__nav--text">Featured House</h1>
        <ul class="hotels__nav-buttons">
            <li class="hotels__nav-button"><button class="btn-reset btn-catalog"><a href="#" class="btn-catalog--house">House</a></button></li>
            <li class="hotels__nav-button"><button class="btn-reset btn-catalog"><a href="#" class="btn-catalog--villa">Villa</a></button></li>
            <li class="hotels__nav-button"><button class="btn-reset btn-catalog"><a href="#" class="btn-catalog--apart">Apartment</a></button></li>
        </ul>
    </nav>
    <div class="hotels__cards">
        <article class="card">
            <img class="card__image" src="../img/hotel-rose.png" alt="author">
            <h2 class="card__name">Roselands House</h2>
            <p class="card__price">$ 35.000.000</p>
            <aside class="author">
                <img class="author__image" src="../img/author.png" alt="author">
                <div class="author__text">
                    <h4 class="author__text--name">Dianne Russell</h4>
                    <p class="author__text--descr">Manchester, Kentucky</p>
                </div>
            </aside>
        </article>
        <article class="card">
            <img class="card__image" src="../img/hotel-rose.png" alt="author">
            <h2 class="card__name">Roselands House</h2>
            <p class="card__price">$ 35.000.000</p>
            <aside class="author">
                <img class="author__image" src="../img/author.png" alt="author">
                <div class="author__text">
                    <h4 class="author__text--name">Dianne Russell</h4>
                    <p class="author__text--descr">Manchester, Kentucky</p>
                </div>
            </aside>
        </article>
        <article class="card">
            <img class="card__image" src="../img/hotel-rose.png" alt="author">
            <h2 class="card__name">Roselands House</h2>
            <p class="card__price">$ 35.000.000</p>
            <aside class="author">
                <img class="author__image" src="../img/author.png" alt="author">
                <div class="author__text">
                    <h4 class="author__text--name">Dianne Russell</h4>
                    <p class="author__text--descr">Manchester, Kentucky</p>
                </div>
            </aside>
        </article>
    </div>
</section>