<footer class="footer container">
  <div class="container footer__container">
    <div class="left">
      <div class="left__info">
        <div class="header__logo">
          <img src="../img/logo.svg" alt="">
          <h3 class="header__logo-text">Hounter</h3>
        </div>
        <p class="left__info--text">
          We provide information about properties such as houses, villas and apartments to help people find their dream home
        </p>
      </div>
      <div class="left__link">
        <img src="../img/face.png" alt="facebook">
        <img src="../img/twit.png" alt="twiter">
        <img src="../img/inst.png" alt="instagram">
      </div>
    </div>
    <div class="right">
      <div class="property">
        <h2 class="property__title">Property</h2>
        <ul class="property__list">
          <li class="property__list--name"><a href="#">House</a></li>
          <li class="property__list--name"><a href="#">Apartment</a></li>
          <li class="property__list--name"><a href="#">Villa</a></li>
        </ul>
      </div>
      <div class="article">
        <div class="property">
          <h2 class="property__title">Property</h2>
          <ul class="property__list">
            <li class="property__list--name"><a href="#">New Article</a></li>
            <li class="property__list--name"><a href="#">Popular Article</a></li>
            <li class="property__list--name"><a href="#">Most Read</a></li>
            <li class="property__list--name"><a href="#">Tips & Tricks</a></li>
          </ul>
        </div>
      </div>
      <div class="contacts">
        <div class="property">
          <h2 class="property__title">Property</h2>
          <ul class="property__list">
            <li class="property__list--name"><a href="#">2464 Royal Ln. Mesa, New Jersey 45463</a></li>
            <li class="property__list--name"><a href="tel:+(671) 555-0110">(671) 555-0110</a></li>
            <li class="property__list--name"><a href="mailto:info@hounter.com">info@hounter.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
