<header class="header">

    <div class="container header__container">
      <div class="header__logo">
        <img src="../img/logo.svg" alt="">
        <h3 class="header__logo-text">Hounter</h3>
      </div>
      <nav class="nav header__nav">
        <ul class="nav__list">
          <li class="nav__item"><button class="btn-reset nav__link">About Us</button></li>
          <li class="nav__item"><button class="btn-reset nav__link">Article</button></li>
          <li class="nav__item"><button class="btn-reset nav__link">Property</button></li>
        </ul>
        <button class="btn-reset nav__button">Sign Up!</button>
      </nav>
      <div class="header__slider">
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <article class="header__card">
                <img class="header__card--img1" src="../img/author.png" alt="woman">
                <img class="header__card--img2" src="../img/author.png" alt="woman">
                <img class="header__card--img3" src="../img/author.png" alt="woman">
                <aside class="card__name">
                  <h4 class="card__name--title">1K+ People</h4>
                  <p class="card__name--text">Successfully Getting Home</p>
                </aside>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="header__slide">
                <img class="header__slide--img" src="../img/56houses.png" alt="houses">
                <aside class="slide__card--name">
                  <h4 class="card__name--title">56 Houses</h4>
                  <p class="card__name--text">Successfully Getting Home</p>
                </aside>
              </article>
            </div>
            <div class="swiper-slide"><img style="max-width: 100px;" src="../img/hotel-rose.png" alt=""></div>
          </div>
        </div>
      </div>
    </div>

  <section class="description">
    <div class="container description__container">
      <article class="description__about">
        <h1 class="description__about--name">
          find the place to
          live your dreams
          easily here
        </h1>
        <p class="description__about--text">
          Everything you need about finding your place to live will be here, where it will be easier for you
        </p>
      </article>
      <form class="form" action="">
          <input class="input-reset form__input" type="text" placeholder="Search for the location you want!">
          <button class="form__btn btn-reset">Search</button>
      </form>
      <article class="description__partner">
        <p class="description__partner--text">Our Partnership</p>
        <ul class="social">
          <li class="social__item"><a href="#" class="social__link social__link--tr"></a></li>
          <li class="social__item"><a href="#" class="social__link social__link--tk"></a></li>
          <li class="social__item"><a href="#" class="social__link social__link--ai"></a></li>
          <li class="social__item"><a href="#" class="social__link social__link--trp"></a></li>
        </ul>
      </article>
    </div>
  </section>
</header>
