<section class="information container">
    <div class="container information__container">
        <div class="section">
            <div class="recomendation">
                <a href="#" class="recomendation__link">Ready To Sell!</a>
            </div>
            <article class="information__descr">
                <h1 class="information__descr--name">Let’s tour and see our house!</h1>
                <p class="information__descr--text">Houses recommended by our partners that have been curated to become the home of your dreams!</p>
                <div class="icon">
                    <h4 class="icon__title">House Detail</h4>
                    <ul class="icon__descr">
                        <li class="icon__link"><a href="#" class="link-bed">4 Bedrooms</a></li>
                        <li class="icon__link"><a href="#" class="link-bath">1 Bathrooms</a></li>
                        <li class="icon__link"><a href="#" class="link-car">2 Carport</a></li>
                        <li class="icon__link"><a href="#" class="link-flo">2 Floors</a></li>
                    </ul>
                </div>
            </article>
            <aside class="contact">
                <img class="contact__img" src="../img/author.png" alt="manager">
                <div class="contact__title">
                    <h4 class="contact__title--name">Dianne Russell</h4>
                    <p class="contact__title--pos">Manager Director</p>
                </div>
                <button class="btn-reset contact__btn btn">Contact Now</button>
            </aside>
        </div>
        <div class="photo">
            <img class="photo__hotel" src="../img/readyto.png" alt="">
            <img class="photo__sofa" src="../img/Rectangle 18.png" alt="">
            <img class="photo__vaza" src="../img/Rectangle 19.png" alt="">
            <img class="photo__stylo" src="../img/Rectangle 20.png" alt="">
        </div>
    </div>
</section>