<section class="partnership container">

        <div class="review__recom">
            <a href="#" class="review__recom--link">See tips and trick from our partnership</a>
        </div>
        <h1 class="partnership__title">
            Find out more about
            selling and buying homes
        </h1>

        <div class="cards">
            <div class="partnership__cards">
                <div class="partnership__card">
                    <div class="partnership__card--img">
                        <img src="../img/Rectangle 22.png" alt="sofa">
                    </div>
                    <article class="card__info">
                        <div class="card__info--auth">
                            <img class="card__info--auth--img" src="../img/author.png" alt="auth">
                            <p class="card__info--auth--name">Dianne Russell</p>
                        </div>
                        <h4 class="card__info--title">The things we need to check when we want to buy a house</h4>
                        <div class="card__info--bottom">
                            <p class="card__info--bottom--text">4 min read | 25 Apr 2021</p>
                        </div>
                    </article>
                </div>
                <div class="partnership__card">
                    <div class="partnership__card--img">
                        <img src="../img/Rectangle 22.png" alt="sofa">
                    </div>
                    <article class="card__info">
                        <div class="card__info--auth">
                            <img class="card__info--auth--img" src="../img/author.png" alt="auth">
                            <p class="card__info--auth--name">Dianne Russell</p>
                        </div>
                        <h4 class="card__info--title">The things we need to check when we want to buy a house</h4>
                        <div class="card__info--bottom">
                            <p class="card__info--bottom--text">4 min read | 25 Apr 2021</p>
                        </div>
                    </article>
                </div>
                <div class="partnership__card">
                    <div class="partnership__card--img">
                        <img src="../img/Rectangle 22.png" alt="sofa">
                    </div>
                    <article class="card__info">
                        <div class="card__info--auth">
                            <img class="card__info--auth--img" src="../img/author.png" alt="auth">
                            <p class="card__info--auth--name">Dianne Russell</p>
                        </div>
                        <h4 class="card__info--title">The things we need to check when we want to buy a house</h4>
                        <div class="card__info--bottom">
                            <p class="card__info--bottom--text">4 min read | 25 Apr 2021</p>
                        </div>
                    </article>
                </div>
            </div>
            
        </div>

</section>