<section class="container review review__container">
    <div class="review__recom">
        <a href="#" class="review__recom--link">See Our Review</a>
    </div>
    <h1 class="review__title">What Our User Say About Us</h1>
    <div class="review__swiper">
        <img class="review__card--img" src="../img/Rectangle 21.png" alt="">
        <div class="review__card">
            <article class="card__hotel">
                <h1 class="card__hotel--title">Best! I got the house I wanted through Hounter</h1>
                <p class="card__hotel--text">
                    Through this website I can get a house with the type and specifications I want very easily, without a complicated process to be able to find information on the house we want.
                </p>
            </article>
            <div class="manager">              
                <div class="manager__name">
                    <img class="manager__img" src="../img/author.png" alt="">
                    <div class="manager__author">
                        <h4 class="manager__name--title">
                            Dianne Russell
                        </h4>
                        <p class="manager__name--text">
                            Manager Director
                        </p>
                    </div>
                </div>
                <div class="marker">
                    <img class="marker__img" src="../img/Vector.png" alt="">
                    <h2 class="marker__num">4.6</h2>
                </div>
            </div>
        </div>
    </div>
</section>